<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <script>

      function callSearch()
      {
          location.href = "/search/"+document.getElementById('srch-term').value;
      }
  </script>

  <input class="form-control-custom" placeholder="Search by Gene Name" name="srch-term" id="srch-term" type="text">
  <button type="submit" onclick="callSearch()" id="searchButton" style="visibility: hidden"></button>
  <script>
      $("#srch-term").keyup(function(event) {
          if (event.keyCode == 13) {
              $("#searchButton").click();
          }
      });
  </script>
  </body>

</html>
